<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <!--Описание настроек см. https://msdn.microsoft.com/ru-ru/library/w355a94k(v=vs.110).aspx-->
    <mailSettings>
      <smtp from="" deliveryMethod="Network">
        <network host=""
                 port="25"
                 userName=""
                 password=""
                 enableSsl="false"/>
      </smtp>
    </mailSettings>
  </system.net>

  <settings>
    <!--Email администратора устройств.-->
    <add key="deviceAdminEmail" value="" />
  </settings>
</configuration>